:root {
  --main_color: #c6a15b;
  --bg_color: #0f0f0f;
  --text_color: #f5f5f5;
  --muted_text: #aaa;
}

/* PAGE */
.book_page {
  background: var(--bg_color);
  color: var(--text_color);
}

/* HERO */
.book_hero {
  height: 70vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book_overlay {
  position: absolute;
  inset: 0;

  background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.95));
}

.book_hero_content {
  position: relative;
  text-align: center;
  max-width: 600px;
  animation: fadeUp 1s ease;
}

.book_tag {
  color: var(--main_color);
  letter-spacing: 3px;
  font-size: 12px;
  text-transform: uppercase;
}

.book_hero h1 {
  font-family: "Playfair Display", serif;
  font-size: clamp(36px, 5vw, 60px);
  margin: 20px 0;
}

.book_hero p {
  color: var(--muted_text);
}

/* SECTION */
.book_section {
  position: relative;
  padding: 20px;
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.book_section::before {
  content: "";
  position: absolute;
  inset: 0;

  background: url("../img/book2.webp") center/cover no-repeat;

  filter: blur(12px);
  transform: scale(1.1); /* prevents edge cut */

  z-index: 0;
}
.book_overlay {
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.95)
  );
}

/* CONTAINER */
.book_container {
  position: relative;
  max-width: 650px;
  width: 100%;
  text-align: center;
  padding: 20px 20px;
  z-index: 2;

  /* glass effect */
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(198, 161, 91, 0.2);
  /* backdrop-filter: blur(10px); */
  border-radius: 18px;

  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
  animation: fadeUp 1s ease;
}

/* TITLE */
.book_tag {
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--main_color);
  display: inline-block;
  margin-bottom: 15px;
}
.book_container h2 {
  font-family: "Playfair Display", serif;
  font-size: clamp(24px, 4vw, 38px);
  color: var(--text_color);
  line-height: 1.2;
  margin-bottom: 10px;
}
.book_container p {
  color: var(--muted_text);
  max-width: 500px;
  margin: 0 auto 20px;
  line-height: 1.5;
}
/* MOBILE */
@media (max-width: 768px) {
  .book_container {
    padding: 20px 15px;
  }
}
/* FORM */
.book_form {
  display: grid;
  gap: 8px;
  margin-top: 5px;
}
.book_form input[type="date"],
.book_form input[type="time"] {
  color-scheme: dark;
  cursor: pointer;
  width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1) sepia(1) saturate(5) hue-rotate(10deg);
  cursor: pointer;
}
.book_form select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background-image:
    linear-gradient(45deg, transparent 50%, var(--main_color) 50%),
    linear-gradient(135deg, var(--main_color) 50%, transparent 50%);
  background-position:
    calc(100% - 20px) center,
    calc(100% - 15px) center;
  background-size: 5px 5px;
  background-repeat: no-repeat;
}
.book_form input,
.book_form select {
  height: 38px;
  padding: 8px 12px;
  font-size: 13px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.08);
  color: var(--text_color);
  border-radius: 10px;
  transition: 0.3s ease;
}

.book_form input:focus,
.book_form select:focus {
  outline: none;
  border-color: var(--main_color);
  box-shadow: 0 0 0 2px rgba(198, 161, 91, 0.25);
}
.book_form select option {
  background: #111;
  color: #fff;
}
/* DATE PICKER FIX */
input[type="date"],
input[type="time"] {
  color-scheme: dark;
  cursor: pointer;
}
.input_group {
  position: relative;
}

.input_group input {
  width: 100%;
  cursor: pointer;
}
/* fake placeholder */
.fake_placeholder {
  position: absolute;
  /* left: 140px; */
  top: 49%;
  transform: translateY(-50%);
  color: var(--muted_text);
  opacity: 0.3;
  pointer-events: none;
  font-size: 14px;
}

/* hide default date text when empty */
.empty-date::-webkit-datetime-edit {
  color: transparent;
}

.empty-date:focus::-webkit-datetime-edit {
  color: var(--text_color);
}

/* BUTTON */
.full_btn {
  width: 100%;
  margin-top: 10px;
}

/* NOTE */
.book_note {
  margin-top: 12px;
  padding-top: 12px;
  font-size: 11px;
  color: var(--muted_text);
  letter-spacing: 1px;
}
.book_note svg {
  font-size: 22px;
  color: var(--main_color);
  letter-spacing: 1px;
}
.form_row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

@media (max-width: 768px) {
  .form_row {
    grid-template-columns: 1fr;
  }
  .form_two_cols {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .field_group {
    width: 100%;
  }

  .book_form input,
  .book_form select {
    width: 100%;
    box-sizing: border-box;
  }
}
.form_two_cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

/* ANIMATION */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* SUCCESS MODAL */
.success_modal_overlay {
  padding-top: 10%;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 99999;
  animation: fadeIn 0.3s ease;
}

.success_modal {
  width: min(90%, 520px);
  max-width: 85vh;
  overflow-y: auto;

  text-align: center;
  /* padding: 50px 35px; */
  padding: clamp(25px, 6vw, 50px) clamp(20px, 5vw, 35px);

  border-radius: 24px;

  background: rgba(18, 18, 18, 0.95);
  border: 1px solid rgba(198, 161, 91, 0.25);

  box-shadow:
    0 20px 50px rgba(0, 0, 0, 0.6),
    0 0 30px rgba(198, 161, 91, 0.12);

  animation: successPop 0.35s ease;
}

.success_icon {
  /* width: 85px;
  height: 85px; */
  width: clamp(65px, 12vw, 85px);
  height: clamp(65px, 12vw, 85px);
  margin: 0 auto 20px;

  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  /* font-size: 38px; */
  font-size: clamp(28px, 6vw, 38px);

  font-weight: bold;

  color: #111;
  background: linear-gradient(135deg, #d4b06a, #c6a15b);

  box-shadow: 0 0 30px rgba(198, 161, 91, 0.35);
}

.success_modal h2 {
  font-family: "Playfair Display", serif;
  margin: 15px 0;
  font-size: clamp(22px, 5vw, 40px);
}

.success_modal p {
  font-size: clamp(13px, 3.5vw, 16px);

  color: var(--muted_text);
  line-height: 1.8;
  margin-bottom: 30px;
}

@keyframes successPop {
  from {
    opacity: 0;
    transform: scale(0.85) translateY(20px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.error_text {
  color: #ff5c5c;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

.field_group {
  display: flex;
  flex-direction: column;
}
